# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Exercicism
*.gradle/
*build/
java/secret-handshake/.settings/org.eclipse.wst.jsdt.ui.superType.container
java/secret-handshake/.classpath
java/secret-handshake/.project
java/secret-handshake/.settings/.jsdtscope
java/secret-handshake/.settings/org.eclipse.buildship.core.prefs
java/secret-handshake/.settings/org.eclipse.jdt.core.prefs
java/secret-handshake/.settings/org.eclipse.wst.common.project.facet.core.xml
java/secret-handshake/.settings/org.eclipse.wst.jsdt.ui.superType.name
java/secret-handshake/.vscode/launch.json
java/secret-handshake/.vscode/launch.test.json
java/secret-handshake/bin/HandshakeCalculator.class
java/secret-handshake/bin/HandshakeCalculatorTest.class
java/secret-handshake/bin/RunSecretHandshake.class
java/secret-handshake/bin/Signal.class
java/matrix/.classpath
java/matrix/.project
java/matrix/.settings/org.eclipse.buildship.core.prefs
java/matrix/.vscode/launch.json
java/matrix/.vscode/launch.test.json
java/matrix/.vscode/settings.json

#Elixir
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

