# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Exercicism
*.solution.json
*.gradle/
*build/
*.solution.json
java/secret-handshake/.settings/org.eclipse.wst.jsdt.ui.superType.container
java/secret-handshake/.classpath
java/secret-handshake/.project
java/secret-handshake/.settings/.jsdtscope
java/secret-handshake/.settings/org.eclipse.buildship.core.prefs
java/secret-handshake/.settings/org.eclipse.jdt.core.prefs
java/secret-handshake/.settings/org.eclipse.wst.common.project.facet.core.xml
java/secret-handshake/.settings/org.eclipse.wst.jsdt.ui.superType.name
java/secret-handshake/.vscode/launch.json
java/secret-handshake/.vscode/launch.test.json
java/secret-handshake/bin/HandshakeCalculator.class
java/secret-handshake/bin/HandshakeCalculatorTest.class
java/secret-handshake/bin/RunSecretHandshake.class
java/secret-handshake/bin/Signal.class
